{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de livros</h1>
  {% if livro_list %}
      <div class="list-group">
          {% for livro in livro_list %}

              <a class="list-group-item list-group-item-action" href="{{ livro.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title=" {{ livro.titulo }}">
                {{ livro.titulo }} |
                <span class="badge badge-success">{{livro.autor}}</span>
              </a>

          {% endfor %}
      </div>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %} 
{% endblock %}