{% extends "base_generic.html" %}

{% block content %}
  <h1>Página inicial da biblioteca local</h1>

  <p> Bem-vindo à Biblioteca Local, um site desenvolvido pela <em> Mozilla Developer Network </em>! </p>
  <hr>
  <h2>Conteúdo dinâmico</h2>
  <p>A biblioteca tem a seguinte contagem de registros:</p>
  <hr>
  <ul>
    <li><strong>Livros:</strong> {{ num_livros }}</li>
    <li><strong>Copias:</strong> {{ li_todos }}</li>
    <li><strong>Cópias disponíveis:</strong> {{ li_disponivel }}</li>
    <li><strong>Autores:</strong> {{ num_autores }}</li>
    <li><strong>Genero:</strong> {{ num_genero }}</li>
  </ul>
{% endblock %}